@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$darkBlue: #0a0025;
$white: white;

$navbar-background-color: $darkBlue;
$navbar-item-color: $white;
$navbar-burger-color: $white;

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
