.desktop-image {
  display: none;
}

.mobile-image {
  display: none;
}

.grid-container {
  grid-template-columns: auto auto;
  display: grid;
  gap: 40px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .mobile-image {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .desktop-image {
    display: grid;
  }
}
