@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

.ul-footer {
  background: #0a0025;
  display: flex;
  flex-direction:row
}

.ul-li-footer {
  padding: 14px 20px;
  font-family: "Mulish", sans-serif;

}

.footer-a-link {
  color: white;
} 


@media only screen and (max-width: 768px) {
  .ul-footer{
    flex-direction:column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .ul-footer {
    justify-content: center;
  }
}
